<div style="background: black; padding: 10px 250px"><img src="https://www.veldikompetens.se/wp-content/themes/consid/static/icons/VeldiKompetens_Logo_Web_Negative.svg" title="Veldi kompetens" /></div>

<hr><h1><center>Exercise 3a - Pandas Basics </center></h1>

<h3>Instructions </h3>

<p>In this exercise you will learn about the basics of Pandas; Loading a dataset, rows, columns, showing header, printing a set of lines and for example printing a row or a column. The dataset we will be using in this exercise and forwards is about different types of chocolates and how professionals have rated them. Lets get to know the dataset! 

If you want to read some more on the dataset you can find information here https://www.kaggle.com/rtatman/chocolate-bar-ratings</p>

<h3> 1. Setup </h3>

Neccesary libraries:

In [ ]:
import numpy as np
import pandas as pd

<h3> 2. Pandas Basics</h3>
<h4> 2.1 Loading the dataset </h4>
<p> Note: it is a common practice to name the variable df which stands for Data Frame. Since you will be using this variable A LOT it is useful to have a concise name just as we do with numpy and pandas. Lets take a look!  </p>
<p>IMPORTANT: You need to download the dataset first and put it into the same folder as the current notebook you are working in to run the code below. Dataset can be found on itslearning </p>

In [ ]:
df = pd.read_csv("flavors_of_cacao.csv", na_values = [" "])
df

Looks nice right? Pandas visualizes the csv file and gives  you a ton of information just from reading the csv file. Truly an amazing library.

<h4>2.2 Some useful commands </h4>

In [ ]:
print(f"The type is: {type(df)} \n")
print(f"The datatypes for each column: \n {df.dtypes}")

<p>Before we proceed ensure that you have examined the dataset above and have a feel for what type of data value should be present in each column. Now lets move onto learning some useful commands! </p>

In [ ]:
# Note; Might look really ugly but the notebook cant put everything on one line! The \ is a separator to signify same print
# But new line
print("From the bottom: ",df.tail(1), "\n")
print("From the top: ", df.head(1), "\n")

# Can also do as below to make use of Pandas awesome integration with jupyter and get a real table!
df.head(1)

Something that wont be showcased here but is worth pointing out is that pandas also has a functionality called df.to_numpy() which makes ur entire dataframe into a numpy array. Its quick and cheap in terms of computational cost for inputs of the same type and is ideally used for usage on say all columns sharing type. Anyways, onwards we go!

We just saw the head (i.e the top) and the tail (i.e the bottom) of the dataframe. To access all values (indexes or rows) and columns there are also commands for that purpose as can be seen below

In [ ]:
print(df.columns)
print(df.index)

Next up is the most descriptive functionality of all: describe

In [ ]:
# Does not include every column as only descriptive summaries of descriptive values can be showcased
print(df.describe())

There are several ways of sorting your data, either by index or by column values. One of the more common ones is df.sort_values(). Note we use copy here just as we do with numpy!

In [ ]:
sorted_df = df.copy().sort_values(("REF"))
sorted_df

<h4>2.3 Getting values </h4>

In [ ]:
# Returns the values from specified column
df["REF"]

In [ ]:
# Each row from 0 to 1
df[0:1]

Two other common ways of accessing data is by usage of loc and iloc. In pandas loc is used to get rows and/or columns with particular label, whilst iloc gets them via integer locations or index

In [ ]:
# Get a specific row by the INDEX it is at (Note when we loaded the data pandas generated indexes for each instance) 
sorted_df.iloc[3]

In [ ]:
# Get a specific row from the label (this means that originally this object was given index 3 as can be seen by name)
sorted_df.loc[3]

<h4>2.4 Time for some Q/A! </h4>

In [ ]:
#Q1: Output the first three rows in sorted_df and df respectively
# here output first three of df

Expected output: 
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company&nbsp; (Maker-if known)</th>
      <th>Specific Bean Origin or Bar Name</th>
      <th>REF</th>
      <th>Review Date</th>
      <th>Cocoa Percent</th>
      <th>Company Location</th>
      <th>Rating</th>
      <th>Bean Type</th>
      <th>Broad Bean Origin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A. Morin</td>
      <td>Agua Grande</td>
      <td>1876</td>
      <td>2016</td>
      <td>63%</td>
      <td>France</td>
      <td>3.75</td>
      <td></td>
      <td>Sao Tome</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A. Morin</td>
      <td>Kpime</td>
      <td>1676</td>
      <td>2015</td>
      <td>70%</td>
      <td>France</td>
      <td>2.75</td>
      <td></td>
      <td>Togo</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A. Morin</td>
      <td>Atsane</td>
      <td>1676</td>
      <td>2015</td>
      <td>70%</td>
      <td>France</td>
      <td>3.00</td>
      <td></td>
      <td>Togo</td>
    </tr>
  </tbody>
</table>

In [ ]:
# here output first three of sorted_df

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company(Maker-if known)</th>
      <th>Specific Bean Origin or Bar Name</th>
      <th>REF</th>
      <th>Review Date</th>
      <th>Cocoa Percent</th>
      <th>Company Location</th>
      <th>Rating</th>
      <th>Bean Type</th>
      <th>Broad Bean Origin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>882</th>
      <td>Jacque Torres</td>
      <td>Trinatario Treasure</td>
      <td>5.0</td>
      <td>2006.0</td>
      <td>71%</td>
      <td>U.S.A.</td>
      <td>2.00</td>
      <td>Trinitario</td>
      <td>Ghana</td>
    </tr>
    <tr>
      <th>1330</th>
      <td>Pralus</td>
      <td>Trinidad</td>
      <td>5.0</td>
      <td>2006.0</td>
      <td>75%</td>
      <td>France</td>
      <td>3.50</td>
      <td>Trinitario</td>
      <td>Trinidad</td>
    </tr>
    <tr>
      <th>1331</th>
      <td>Pralus</td>
      <td>Madagascar, Nosy Be Isle.</td>
      <td>5.0</td>
      <td>2006.0</td>
      <td>75%</td>
      <td>France</td>
      <td>3.75</td>
      <td>Criollo</td>
      <td>Madagascar</td>
    </tr>
  </tbody>
</table>

In [ ]:
#Q2: Get the Broad Bean origin for the third item from the top from the sorted_df (i.e Ghana)
# Hint: Use iloc to get a specific row from the top, syntax should be sorted_df.iloc[smthing][column name]

Great job! We are now done with the basic introduction to Pandas! Lets proceed to the next exercise where we will learn to work some more with the dataset and reason a bit more on it